* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    height: 70%;
    max-width: 530px;
    min-width: 530px;
    background-color: gray;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
}


.main .resultScreen {
    position: relative;
    display: flex;
    height: 20%;
    background-color: black;
    width: 100%;
    flex: 1 1 100%;
    padding-right: 30px;
    color: white;
    font-size: 50px;
    justify-content: flex-end;
    align-items: center;
    /* font-family: 'Press Start 2P', cursive; */
}

.statusLight {
    display: none;
    content: '';
    position: absolute;
    border: 1px solid green;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
    left: 2%;
    top: 5%;
    animation: status-light 1s linear infinite;
}

.previousInput {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 30%;
    width: 50%;
    top: 1%;
    font-size: 30px;
}

.main .container {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-around;
    align-items: center;
}

.container button {
    display: flex;
    background-color: darkgray;
    border: 1px solid yellow;
    align-items: center;
    flex: 0 1 20%;
    justify-content: center;
    font-size: 50px;
    height: 90%;
    font-family: 'Roboto', sans-serif;
    outline: none;
    transition: .3s;
}

.threeBtn>*:nth-child(1) {
    flex: 0 1 45%;
}

.container button:hover {
    background-color: rgb(75, 74, 74);
}

.lighton {
    display: block;
}

@keyframes status-light {
    0% {}

    50% {
        background-color: rgb(51, 255, 0);
        border: 1px solid rgb(0, 253, 0);
    }

    100% {
        background-color: green;
        border: 1px solid green;
    }
}

.timer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: yellow;
    bottom: 0;
    font-size: 50px;
    color: red;
}